.project-overview-container {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-right: 10px;
  margin-left: 15px;
  overflow: auto;
  width: calc(100% - 30px);

  .label-and-caret-wrapper {
    display: flex;
    white-space: nowrap;

    .fa {
      display: flex;
      align-self: center;
      margin-left: 3px;
    }
  }

  .project-overview-assignee-select:not(.select2-hidden-accessible) {
    width: 250px;
    max-width: none;

    option {
      display: none;
    }
  }
  .select2-selection__choice {
    margin-bottom: 5px;
  }

  /* Adjacent sibling selector */
  .project-overview-assignee-select + .select2.select2-container {
    width: 250px !important;
    margin: 5px 0;
    z-index: 1;

    /* Descendant selector */
    span.select2-selection {
      padding: 0;
      line-height: 30px;
      border-radius: 3px;
      margin-top: -1px;
      border: 1px solid var(--main-border-color);
    }
  }

  > h1 {
    margin-bottom: 30px;
  }

  th {
    position: relative;
    text-align: left;
    cursor: pointer;
    user-select: none;
  }

  th[data-order]:after {
    content: '';
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(0);
    font-family: Arial, sans-serif;
    font-size: 12px;
    pointer-events: none;
  }

  th[data-order='asc']:after {
    content: '\f0d7';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(0);
    color: #000;
  }

  th[data-order='desc']:after {
    content: '\f0d8';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(0);
    color: #000;
  }
  td {
    &.spacious {
      min-width: 130px;
    }

    &.confined {
      width: 50px;
    }

    &.specific {
      min-width: 125px;
      width: 125px;
    }
  }

  input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type='number'] {
      -moz-appearance: textfield; /* Firefox */
    }
  }

  .search-and-filter {
    display: flex;
    width: 100%;

    form {
      display: flex;
      width: 100%;

      .checkboxes {
        margin-left: 10px;

        div {
          display: flex;
          align-items: flex-end;

          label {
            margin-left: 3px;
          }
        }
      }

      .date-range-filter {
        margin-left: 10px;

        #dateRange {
          margin: 3px 0;
          border-radius: 0;
          opacity: 1;
          border: 1px solid var(--main-border-color);
          text-align: center;
        }
      }

      .employee-and-search-filter {
        display: flex;
        flex-direction: row;
        margin-left: auto;
      }
    }

    select,
    input {
      border-radius: 3px;
      margin-top: 3px;
      height: 36px;
      color: #555555;
    }

    input {
      &::-ms-input-placeholder {
        /* Edge 12 -18 */
        color: #555555;
      }

      &::placeholder {
        color: #555555;
        opacity: 1; /* Firefox */
      }
    }

    .input-group {
      position: relative;
      margin-right: auto;

      i {
        position: absolute;
        right: 15px;
        top: 47px;
        color: var(--main-border-color);
      }
    }

    .margin-left {
      margin-left: 5px;
    }
  }

  .table {
    border: 1px solid #e9e9e9;

    td {
      position: relative;
      vertical-align: middle;

      .project-link {
        color: #666;
        display: block;

        &:hover {
          color: var(--primary-font-color);
          text-decoration: none;
        }
      }

      #status-dropdown-menu {
        width: 100%;
      }
      .status.btn-group,
      .priority.btn-group {
        width: 100%;
      }
      button[id^='status-ticket-'],
      button[id^='priority-ticket-'] {
        display: flex;

        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: calc(100% - 20px);
          margin: auto auto auto 5px;
        }
        i {
          position: absolute;
          right: 10px;
        }
      }

      .center-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        span.logged-hours {
          margin: auto;
          user-select: none;
          cursor: help;
        }
      }

      select,
      input {
        all: unset;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        border: none;
        padding: 10px;
        box-sizing: border-box;
        line-height: 40px;
      }
    }
  }

  > input {
    border-radius: 3px !important;
  }
  .fa.fa-caret-down {
    padding-left: 3px;
    align-self: center;
    padding-bottom: 2px;
  }
  .btn-group.open {
    .dropdown-menu {
      padding: 0;
      display: flex;
      flex-direction: column;
      min-width: initial;
      border-radius: 0;
    }
  }
  .dropdown-item > button,
  button.label-,
  button,
  a {
    &.label-warning,
    &.label-yellow,
    &.label-info,
    &.label-important,
    &.label-danger,
    &.label-red,
    &.label-success,
    &.label-green,
    &.label-default,
    &.label-purple,
    &.label-pink,
    &.label-brown,
    &.label-blue,
    &.label-dark-blue,
    &.label-darker-blue,
    &.label-dark-green,
    &.label-grey {
      background: var(--yellow) !important;
      color: var(--yellow-text-color) !important;
      border-radius: 0;
      margin-left: 0px;
    }

    &.label-default.milestone {
      color: var(--blue-text-color) !important;
    }

    &:not(.label-default).milestone {
      color: white !important;
    }
  }
  .dropdown-item > .table-button:hover {
    opacity: 0.7;
  }

  .table-button {
    border: 0;
    display: flex;
    width: 100%;

    &.priority-bg-1 {
      background: var(--dark-red);
      color: var(--dark-red-text-color);
    }

    &.priority-bg-2 {
      background: var(--red);
      color: var(--red-text-color);
    }

    &.priority-bg-3 {
      background: var(--yellow);
      color: var(--yellow-text-color);
    }

    &.priority-bg-4 {
      background: var(--green);
      color: var(--green-text-color);
    }

    &.priority-bg-5 {
      background: var(--dark-grey);
      color: var(--dark-grey-text-color);
    }
  }

  .table-button.priority-bg- {
    background-color: var(--grey);
  }
}

.save-success,
.save-error {
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.save-success {
  animation-name: successAnim;
}

@keyframes successAnim {
  0% {
    background-color: #28a745;
  }
  100% {
    background-color: transparent;
  }
}

.save-error {
  animation-name: errorAnim;
}

@keyframes errorAnim {
  0% {
    background-color: #dc3545;
  } /* You can pick your preferred shade of red */
  100% {
    background-color: transparent;
  }
}
ul.select2-results__options {
  margin: 2px !important;
}

@media screen and (max-width: 1200px) {
  .leftpanel {
    display: none;
  }
  .rightpanel {
    width: 100%;
  }

  .search-and-filter {
    form {
      .checkboxes {
        padding: 0 15px;
        div {
          label {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}

.select2-search__field {
  border-radius: 0;
}
